/* normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    padding: 0;
    background: 0;
}

/* general */
.container {
    width: 1200px;
    margin: 0 auto;
}

.text {
    width: 586px;
}

.text .uptitle {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #fa4a0c;
}

.text .text-title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 17px 0;
}

.text .subtitle {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: #737373;
}




/* header{} */

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .menu {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .menu li {
    font-size: 16px;
    font-weight: 600;
    font-family: 'montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 28px;
    color: #252B42;
    cursor: pointer;
}

header .container .menu li:hover {
    color: #fa4a0c;
}

/* hero */
.hero {
    /* background-image: url('images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
   */

    background: url('images/hero-bg.png') no-repeat center /cover;
    padding: 75px 0 145px;
}

/* .hero .container {} */

.hero .container .uptitle {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #f6f6f6f6;
    text-align: center;
}

.hero .container .title {
    font-size: 58px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-align: center;
    margin: 17px 0;
}

.hero .container .subtitle {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #f6f6f6f6;
    text-align: center;
}

.hero .container .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 55px;
}

.hero .container .btns .btn {
    font-style: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #ffffff;
    padding: 16px 58px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #fa4a0c;
    border-color: transparent;
}

/* .hero .container .btns .btn:first-child{
    background: #fa4a0c;
}

.hero .container .btns .btn:last-child{
    border: 1px solid #ffffff;
} */



/* image */
.image {}


.image .container {
    text-align: center;
}


.image .container img {
    position: relative;
    top: -100px;
}

.image .container .line {
    width: 884px;
    height: 5px;
    background: #e4e4e4;
    margin: 0 auto;
    background: red;
}

/* app */
.app {
    padding: 70px 0;
}

.app .container .title {
    font-size: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 36px;
    letter-spacing: 0.1px;
    opacity: 0.8;
    text-align: center;
}

.app .container .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

/* food */
.food {
    padding: 50px 0;
}

.food .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* checkout */

.checkout {
    padding: 50px 0;
}

.checkout .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* prefooter */
.prefooter {
    background: url(images/prefooter-bg.png) no-repeat center /cover;
    padding: 140px 0 130px;
}

.prefooter .container {
    text-align: center;
}

.prefooter .container .title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.prefooter .container .subtitle {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin: 15px 0 60px;
}

.prefooter .container .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.prefooter .container .btns .btn {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 28px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 16px 45px;
    cursor: pointer;
    transition: 0.3s;
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.copy{
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.1px;
}